@use "../abstracts" as ab;

html {
  @include ab.motion-safe() {
    scroll-behavior: smooth;
  }
}

body {
  color: ab.$clr-foreground;
  background: ab.$clr-background;

  font-family: ab.$ff-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: ab.$container;
  margin-inline: auto;
  padding-inline: ab.rem(20);

  @include ab.media-up(md) {
    padding-inline: ab.rem(40);
  }

  &--fluid {
    max-width: ab.$container-fluid;
  }
}

.button {
  display: inline-flex;
  cursor: pointer;
  padding: ab.rem(16) ab.rem(28);
  border-radius: 100vw;

  font-size: ab.rem(14);
  line-height: 1.1;
  font-weight: ab.$fw-bold;
  text-transform: uppercase;
  letter-spacing: -0.02em;

  &:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
  }

  &--primary {
    color: ab.$clr-background;
    background-color: ab.$clr-primary;
  }

  &--link {
    padding: 0;
  }

  &--icon {
    padding: 0;
    display: inline-flex;
    place-content: center;
    width: ab.rem(24);
    height: ab.rem(24);

    @include ab.media-up("md") {
      width: ab.rem(42);
      height: ab.rem(42);
    }
  }
}
