@use "../../scss/abstracts" as ab;

.standout {
  &__container--fluid {
    color: ab.$clr-background;
    background-color: #1d1534;
    margin-inline: auto;
  }

  &__container {
    display: flex;
    gap: ab.rem(48);
    flex-direction: column;

    @include ab.media-up("lg") {
      gap: ab.rem(78);
      flex-direction: row;
    }
  }

  &__logo {
    min-width: fit-content;
  }

  &__title {
    font-size: ab.rem(36);
    line-height: 1.125;
    font-weight: ab.$fw-medium;

    @include ab.media-up("md") {
      max-width: 15ch;
      font-size: ab.rem(48);
    }
  }

  &__description {
    font-weight: ab.$fw-light;

    @include ab.media-up("lg") {
      max-width: 61ch;
    }
  }

  &__description-paragraph {
    opacity: 0.6;

    &:not(:first-child) {
      margin-block-start: ab.rem(30);
    }
  }

  &__description-paragraph--highlight {
    font-weight: ab.$fw-medium;
  }
}
