@use "../../scss/abstracts" as ab;

.timeline {
  &__container--fluid {
    padding-block: ab.rem(384);
    margin-inline: auto;

    position: relative;
    overflow: hidden;

    /* section decorators */
    &::before {
      content: url("/patterns/timeline-top.svg");
      position: absolute;
      top: 0;
      inset-inline: 0;
    }

    &::after {
      content: url("/patterns/timeline-bottom.svg");
      position: absolute;
      bottom: -2%;
      inset-inline: 0;
    }
  }

  &__card-quarter {
    color: ab.$clr-primary;
    font-weight: ab.$fw-bold;
  }

  &__card-year {
    font-weight: ab.$fw-bold;
    font-size: ab.rem(36);
  }

  &__list {
    display: grid;
    gap: ab.rem(80);
    position: relative;

    &::after {
      content: url("/plane-vector.svg");
      position: absolute;
      bottom: 100%;
      right: -5%;

      width: ab.rem(257);
      height: ab.rem(155);
    }

    @include ab.media-up("xl") {
      grid-template-columns: repeat(4, 1fr);
      gap: 0;
    }
  }

  &__card {
    display: grid;
    align-content: start;

    /* positioning arrow button */
    @include ab.media-up("xl") {
      &:not(:last-child) .timeline__card-head {
        position: relative;

        &:not(:last-child)::after {
          content: url("/chevron-right.svg");
          opacity: 0.7;
          position: absolute;
          bottom: (ab.rem(20));
          right: 30%;
        }
      }
    }

    /* positioning bottom lines */
    &:not(:first-child) .timeline__card-decoration {
      &--line-front {
        position: absolute;
        bottom: 0;
        width: 12%;
        left: 0;
        border-bottom: 2px dotted gray;
      }
    }

    &:not(:last-child) .timeline__card-decoration {
      &--line-back {
        position: absolute;
        bottom: 0;
        width: 73%;
        right: 0;
        border-bottom: 2px dotted gray;
      }
    }
  }

  &__card-decoration {
    height: ab.rem(55);
    margin-block: ab.rem(10) ab.rem(50);

    position: relative;
    overflow: hidden;

    @include ab.media-down("xl") {
      display: none;
    }

    &--point {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: ab.$clr-primary;
      border-radius: 50%;
    }

    &--circle {
      content: "";
      position: absolute;
      left: 4px;
      bottom: 0;

      display: inline-block;
      width: 100px;
      height: 100px;
      border-radius: 0 0 0 50%;
      background-color: transparent;
      border-left: 2px dotted gray;
      border-bottom: 2px dotted gray;
    }
  }

  &__card-list {
    counter-reset: count;
  }

  &__card-list-item {
    counter-increment: count;
    font-size: ab.rem(18);
    line-height: 1.8;
    color: ab.$clr-muted-foreground;
    position: relative;
    padding-inline: ab.rem(40);

    &::before {
      content: "0" counter(count);
      position: absolute;
      left: 0;
      inset-block: 0;

      color: ab.$clr-secondary;
      font-weight: ab.$fw-bold;
      font-size: ab.rem(12);
      line-height: 2.83;
    }
  }
}
