@use "../../scss/abstracts" as ab;

.coming-soon {
  &__container--fluid {
    background-color: ab.$clr-muted;
    padding-block: ab.rem(58);
    margin-inline: auto;

    overflow: hidden;
  }

  &__container {
    display: grid;
    gap: ab.rem(20);

    @include ab.media-up("xl") {
      gap: ab.rem(60);
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
      align-items: center;
    }

    @include ab.media-up("2xl") {
      gap: ab.rem(20);
    }
  }

  &__text-box {
    & > * {
      @include ab.media-up("xl") {
        max-width: 65ch;
      }
    }
  }

  &__title {
    font-size: ab.rem(28);
    font-weight: ab.$fw-medium;

    @include ab.media-up("md") {
      font-size: ab.rem(36);
    }
  }

  &__description {
    margin-block-start: ab.rem(20);
  }

  &__paragraph {
    opacity: 0.6;
    font-weight: ab.$fw-light;

    &--highlight {
      font-weight: ab.$fw-medium;
    }

    &:not(:first-child) {
      margin-block-start: ab.rem(20);
    }
  }

  &__image-box {
    position: relative;
    background-color: #f7f5f9;
    max-width: ab.rem(600);
    height: ab.rem(600);
    border-radius: ab.rem(24);

    @include ab.media-up("2xl") {
      max-width: revert;
      height: calc(100% + 5rem);
    }

    & > * {
      position: absolute;
    }
  }

  &__cloud-image--short {
    top: 5%;
    left: 5%;
    scale: 0.9;

    @include ab.media-up("sm") {
      top: 10%;
      left: 10%;
      scale: 1;
    }
  }

  &__rocket-image {
    bottom: 0;
    transform: rotate(45deg);

    @include ab.media-up("sm") {
      bottom: -10%;
    }

    @include ab.media-up("2xl") {
      scale: 1.5;
    }
  }

  &__cloud-image--long {
    bottom: 0;
    right: -20%;
    scale: 0.7;

    @include ab.media-up("sm") {
      bottom: 0;
      right: -10%;
      scale: 0.8;
    }

    @include ab.media-up("2xl") {
      scale: 1;
    }
  }
}
